{{#if restaurants}}
<ul id="restaurants">
    {{#each restaurants}}
        <li style="background-image: url({{{the_image this}}});">
            <a href="/restaurants/{{this.restaurant_id}}">
                <h3>{{this.name}}</h3>
                <p>{{this.address.street}} {{this.address.building}}, {{this.borough}}</p>
            </a>
        </li>
    {{/each}}
</ul>
    {{else}}
        <p>No restaurants found.</p>
{{/if}}